<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Twitter Audio Player">
        <meta name="author" content="Cloud Computing">
        <link rel="icon" href="">
        <title>{{ title }}</title>
        <!-- Bootstrap core CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/notion">Overview</a>
                </div>                
                <ul class="nav navbar-nav">
                    <li><a href="/twitter">Twitter</a></li>
                    <li><a href="/facebook">Facebook</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <h2 class="text-center">Twitter Audio Player</h2>
            {% for entry in entries %}
            <div>
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-lg btn-danger" href="/stop">Stop</a>
                    <a class="btn btn-lg btn-success" href="/{{ entry.next_url }}">Next</a>
                </div>
            </div>

            <div id="audio-list">
                <div class="well">
                    <h2>{{ entry }}</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div></div>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <a class="btn btn-info btn-large" href="/{{ entry.url }}">PLAY</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% else %}
            <div>
                <div class="btn-group btn-group-justified">
                    <a href="/stop" class="btn btn-lg btn-danger">Stop</a>
                    <a href="/next" class="btn btn-lg btn-success">Next</a>
                </div>
            </div>
            <li><em>No audios so far</em>
            {% endfor %}
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>